snippet dnew
	require "rails_helper"

	RSpec.describe ${1} do
		${0}
	end

snippet d
	describe "${1}" do
		${0}
	end

snippet c
	context "${1}" do
		${0}
	end

snippet it
	it "${1}" do
		${0}
	end

snippet do
	do
		${0}
	end

snippet let
	let(:${1}) ${0}

snippet {
	{ ${0} }

snippet b
	before do
		${0}
	end

