# Describe
snippet d
	describe('${1:description}', function () {
		${0}
	});

snippet it
	it('${1:should...}', function () {
		${0}
	});

snippet b
	beforeEach(function () {
		${0}
	});

snippet before
	beforeEach(${0});
