snippet eq
	assert.equal(${1:actual}, ${0:expected});
snippet at
	andThen(function() {
		${0}
	});
snippet t
	test('${1}', function(assert) {
		${0}
	});
snippet v
	visit('${0}');
snippet f
	function (${1}) {
		${0}
	}
# Anonymous Function
# Immediate function
snippet (f
	(function (${1}) {
		${0}
	}(${2}));
